<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

<title>waste management</title>
</head>
<body>
<header>
<div>
    <h1><a href="/">Waste Management</a></h1><br>
</div>
<div class="title">   
<h2>Think Green Think Clean!</h2>
<h3><a href="wm-home.html">WM-Home</a></h3>
<h3><a href="feedback.html">Feedback</a></h3>
</div>
</header>
</body>
</html>