<! DOCTYPE html>
<html>
<head>
<title>waste management</title>
</head>
<body>
<header>
<div class="main">
<ul>

<li><a href="#">View</a><li>
<li><a href="#">Contact</a></li>
</ul>
</div>
<div>
    <h1><a href="/">Django Girls Blog</a></h1>
</div>
{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
<div class="title">
<h1>Think Green Think Clean!</h1>

<div class="button">
<div class="box"> <br><br/><br><br/><br><br/><br><br/>
<a href="wm-home.html"><span></span><span></span></a>
</div>
</header>
</body>
</html>