<!DOCTYPE html>
<html>
  <head>
<title>upload</title>
<link rel="stylesheet" href="{% static 'css/blog2.css' %}">
 
  <title>upload form</title>
  <style>
table{
	border:3px solid white;
	padding:5px;
border-spacing:20px;
}
</style>
  </head>  
<body>

<div class="a">

<h1>UPLOAD FORM</h1><br>
</div>
<form>
	
     <table>		
           <tr>			
               <td>				
                   USERNAME:			
               </td>			
                <td>				
                   <input type="text" name="username" required>			
                </td>		
           </tr>
            <tr>
                 <td>				
                   PHONE_NO:			
                 </td>			
                 <td>				
                  <input type="text" name="phone_no" required>			
                 </td>		
           </tr>
		   <tr>
				<td>
				    ADDRESS:
				</td>
				<td>
				    <input type="text" name="address" required>
				</td>	
			</tr>
			<tr>
				<td>
				    LOCALITY:
				</td>
				<td>
				    <input type="text" name="locality" required>
				</td>	
			</tr>
			<tr>
				<td>
				    CITY:
				</td>
				<td>
				    <input type="text" name="city" required>
				</td>	
			</tr>
			<tr>
				<td>
				    STATE:
				</td>
				<td>
				    <input type="text" name="state" required>
				</td>	
			</tr>
<tr>
				<td>
				    PINCODE:
				</td>
				<td>
				    <input type="text" name="pincode" required>
				</td>	
			</tr>				
			
		</table>
</form>
<br><form action="upload.html" method="POST" enctype="multipart/form-data">
    SELECT IMAGE:
    <input type="file" name="fileToUpload" id="fileToUpload">
	<br><input type="submit" value="Submit" name="Submit" style="background-color:gray;
	color:solid black;">
</form> 
</body>
</html>